# Emacs temp files
*~
\#*
.\#*

# Backup files
*.back

# Output files
/EWARM/demo-i2c
/EWARM/demo-spi
/EWARM/demo-uart
/EWARM/demo-rvc
/EWARM/fsp200-dfu
/EWARM/fsp200-cal
/EWARM/bno08x-i2c
/EWARM/bno08x-spi
/EWARM/bno08x-uart
/EWARM/fsp201-dfu-i2c
/EWARM/fsp201-i2c
/EWARM/fsp20x-uart
/EWARM/fsp201-i2c-cal
/EWARM/fsp20x-uart-cal

/EWARM/sh2-demo Configuration/
/EWARM/settings/
/EWARM/sh2-demo.dep
/EWARM/*.bak
/EWARM/Backup*
/EWARM/BuildLog.log

# Firmware files that we don't want in project
_firmware*
dfu/firmware-bno*
dfu/firmware-fsp*



